*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: SF Pro Text,Microsoft JhengHei,;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #8D8D8D;
    &:hover{
        opacity: 0.8;
    }
}