.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px calc($gutter-width/2);
  @media (max-width:768px) {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(calc($gutter-width/2));
  margin-right: -(calc($gutter-width/2));
}

@for $i from 1 through 12 {
  .col-#{$i} {
    position: relative;
    max-width: 100% * calc($i / 12);
    flex: 0 0 100% * calc($i / 12);
    padding: 0px calc($gutter-width/2);
  }
}

@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @for $i from 1 through 12 {
      .col-#{$bp-key}-#{$i} {
        position: relative;
        max-width: 100% * calc($i / 12);
        flex: 0 0 100% * calc($i / 12);
        padding: 0px calc($gutter-width/2);
      }
    }
  }
}

// flex

@each $value in $flex-direction {
  .flex-#{$value} {
    flex-direction: $value;
  }
}

@each $key, $value in $justify-content {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}
@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @each $key, $value in $justify-content {
      .justify-content-#{$bp-key}-#{$key} {
        justify-content: $value;
      }
    }
  }
}

@each $key, $value in $align-items {
  .align-items-#{$key} {
    align-items: $value;
  }
}
@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @each $key, $value in $align-items {
      .align-items-#{$bp-key}-#{$key} {
        align-items: $value;
      }
    }
  }
}

.flex-wrap{
    flex-wrap: wrap;
}
// display
@each $value in $display {
  .d-#{$value} {
    display: $value;
  }
}
@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @each $value in $display {
      .d-#{$bp-key}-#{$value} {
        display: $value;
      }
    }
  }
}

@each $key, $value in $gap-size {
  .gap-#{$key} {
    gap: $value;
  }
}

// color
@each $key, $value in $color {
  .text-#{$key} {
    color: $value;
  }
}
@each $key, $value in $color {
  .bg-#{$key} {
    background-color: $value;
  }
}

// margin
@each $key, $value in $direction {
  @each $sizeKey, $sizeValue in $mp-size {
    .m#{$key}-#{$sizeKey} {
      margin-#{$value}: $sizeValue;
    }
  }
}
@each $sizeKey, $sizeValue in $mp-size {
  .mx-#{$sizeKey} {
    margin: 0px $sizeValue;
  }
  .my-#{$sizeKey} {
    margin: $sizeValue 0px;
  }
  .m-#{$sizeKey} {
    margin: $sizeValue;
  }
}

@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @each $key, $value in $direction {
      @each $sizeKey, $sizeValue in $mp-size {
        .m#{$key}-#{$bp-key}-#{$sizeKey} {
          margin-#{$value}: $sizeValue;
        }
      }
    }
    @each $sizeKey, $sizeValue in $mp-size {
      .mx-#{$bp-key}-#{$sizeKey} {
        margin: 0px $sizeValue;
      }
      .my-#{$bp-key}-#{$sizeKey} {
        margin: $sizeValue 0px;
      }
      .m-#{$bp-key}-#{$sizeKey} {
        margin: $sizeValue;
      }
    }
  }
}

// padding
@each $key, $value in $direction {
  @each $sizeKey, $sizeValue in $mp-size {
    .p#{$key}-#{$sizeKey} {
      padding-#{$value}: $sizeValue;
    }
  }
}
@each $sizeKey, $sizeValue in $mp-size {
  .py-#{$sizeKey} {
    padding: $sizeValue 0px;
  }
  .p-#{$sizeKey} {
    padding: $sizeValue;
  }
}

@each $bp-key, $bp-value in $breakpoint {
  @media (max-width: $bp-value) {
    @each $key, $value in $direction {
      @each $sizeKey, $sizeValue in $mp-size {
        .p#{$key}-#{$bp-key}-#{$sizeKey} {
          padding-#{$value}: $sizeValue;
        }
      }
    }
  }
}

// text
@each $key, $value in $title-size {
  .h#{$key} {
    font-size: $value;
    font-weight: bold;
  }
}
@each $key, $value in $font-size {
  .fs-#{$key} {
    font-size: $value;
  }
}
@each $value in $font-weight {
  .fw-#{$value} {
    font-weight: $value;
  }
}

@each $value in $text-decoration {
  .text-#{$value} {
    text-decoration: $value;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 30px;
  max-width: 350px;
  height: 60px;
}
.btn:hover {
  background: #ffffff4d 0% 0% no-repeat padding-box;
}
.btn-black {
  border: 2px solid #000000;
}
.btn-black:hover {
  background: #0000000d 0% 0% no-repeat padding-box;
}
.img-hover{
    transition: all 1s;
}
.img-hover:hover{
    transform: scale(1.3,1.3);

}
.overflow-hidden{
    overflow: hidden;
}