$gutter-width: 30px;

// flex
$justify-content:(
    center:center,
    between:space-between,
);

$align-items:(
    center:center,
);

// margin、padding
$mp-size:(
    2:2px,
    9:9px,
);
$direction:(
    e: right,
)