<footer class="footer">
  <div class="container subscribe">
    <h2 class="h2 text-gray">
      記得
      <br />
      訂閱以獲取更多資訊！
    </h2>
    <div class="subscribe-button">
        <input type="email" placeholder="Your email address">
        <button class="bg-brown text-white">Subscribe</button>
    </div>
  </div>
  <nav class="bg-brown pt-20 pb-22">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a href="index.html" class="footer-logo me-20">D'PERFUME</a>
        <p class="text-white fw-500">© 2020. All Rights Reserved.</p>
      </div>
      <ul class="d-flex d-md-none">
        <li><a href="product.html" class="text-white me-36">Product</a></li>
        <li><a href="#" class="text-white  me-36">Blog</a></li>
        <li><a href="#" class="text-white">Contact</a></li>
      </ul>
    </div>
  </nav>
</footer>
