<header>
  <nav class="container d-flex justify-content-between align-items-center py-9">
    <a href="index.html" class="logo">D'PERFUME</a>
    <ul class="d-flex gap-32">
      <li>
        <a href="#"><i class="bi bi-shop me-2"></i>Product</a>
      </li>
      <li>
        <a href="#"><i class="bi bi-person me-2"></i>log in</a>
      </li>
      <li>
        <a href="#"><i class="bi bi-heart-fill me-2"></i>Wishlist</a>
      </li>
      <li>
        <a href="#"><i class="bi bi-cart-fill me-2"></i>Cart(3)</a>
      </li>
    </ul>
  </nav>
</header>
