.footer {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true');
  background-size: cover;
  background-position: left center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-logo{
  display: block;
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite.png?raw=true');
  width: 128px;
  height: 38px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.subscribe{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 112px;
}
.subscribe-button{
  margin-top: 20px;
  max-width: 350px;
  display: flex;
  height: 60px;
  border-radius: 4px;
  @media(max-width:480px) {
    max-width: 100%;
  }
  input{
    max-width: 214px;
    padding-left: 15px;
    flex: 2 1 auto;
    border: none;
    outline-color: lighten(#916000,5%);
    border: 2px solid #916000;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
    @media(max-width:480px) {
      max-width: 66.67%;
    }
  }
  button{
    flex: 1 1 auto;
    max-width: 129px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    &:hover{
      background-color:lighten(#916000,5%);
    }
    @media(max-width:480px) {
      max-width: 33.33%;
    }
  }
}