.logo{
  display: block;
  width: 128px;
  height: 38px;
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true');
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}