.banner {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true');
  height: calc(100vh - 56px);
  width: 100%;
  background-size: cover;
  background-position: left center;
  padding-top: 295px;
}
.banner-content {
  max-width: 445px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .list-content{
    max-width: 555px;
    padding: 0px 110px;
  }
  img{
    width: 555px;
    height: 555px;
    object-fit: cover;
    @media(max-width:768px) {
      height: 350px;
      max-width:100%;
    }
  }
  @media(max-width:768px) {
    flex-direction: column;
  }
}
.productList-plan{
  img{
    height: 1080px;
    @media(max-width:768px) {
      height: 680px;
    }
  }
}