<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <nav class="bg-brown py-14 d-md-none">
      <ul class="container d-flex gap-28">
        <li><a href="#" class="text-white">CHANEL</a></li>
        <li><a href="#" class="text-white">Jo Malone</a></li>
        <li><a href="#" class="text-white">Curology</a></li>
        <li><a href="#" class="text-white">Dior</a></li>
        <li><a href="#" class="text-white">Chloe</a></li>
        <li><a href="#" class="text-white">ZARA</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-4">
          
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
